<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="insasse" sortOrder="2001">
            <label>CSV Import</label>
        </tab>
        <section id="insasse_csvimport" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>CSV Import</label>
            <tab>insasse</tab>
            <resource>Insasse_CSVImport::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="insasse_csvimport" translate="label comment" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Insasse\CSVImport\Block\System\Config\ImportButton</frontend_model>
                    <label>Import</label>
                </field>
            </group>
        </section>
    </system>
</config>